@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0808;
}
::-webkit-scrollbar {
  display: none;
}
@layer components {
  .btn {
    @apply flex w-36 items-center
            justify-center rounded-2xl 
             bg-gray-100 p-3
             font-bold
             text-gray-700;
  }
  .center {
    @apply flex items-center justify-center;
  }
  .button {
    @apply transform cursor-pointer rounded-full border border-gray-400 px-4 py-2 shadow-sm transition duration-150 ease-out hover:scale-90 active:scale-75 active:bg-gray-100;
  }

}
.scroll-color {
  background-color: #121212;
}
