@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0808;
}
@layer components {
  .btn {
    @apply flex w-36 items-center
            justify-center rounded-2xl 
             bg-gray-100 p-3
             font-bold
             text-gray-700;
  }
  .center {
    @apply flex items-center justify-center;
  }
}
.scroll-color {
  background-color: #121212;
}
